/*
@author André Luiz da Silva
@version 0.0.1
 */

/* ============================ Layout ============================ */
/* -- Formataão do body -- */
html, body, capa{
    height: 100%; /* Centralizando elementos horizontalmente */
}

body{
    background: url("imagens/capa.png"),
                url("imagens/ruido.png"),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo{
    height: 40px;
    width: 132px;
    background: url('imagens/spotify.svg') no-repeat;
    background-size: contain;
    display: block;
    color: transparent;
}

nav.navbar-transparent{
    padding: 15px 0;
    background: rgba(0,0,0, 0.6);
    border: none;
}

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav > li > a{
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #9bf0e1;
}

/* -- Imagem de capa -- */
.capa{
    display: table; /* Centralizando elementos verticalmente */
    width: 100%;    /* Centralizando elementos verticalmente */
    height: 100%;   /* Centralizando elementos verticalmente */
}

.texto-capa{
    text-align: center;
    color: #fff;
    display: table-cell; /* Comportamento de celulas de tabela*/
    vertical-align: middle;
}

.btn-roxo{
    background: #7c25f8;
}

.btn-roxo:hover{
    background-color: #6207e3;
    color: #fff;
}

.btn-branco{
    border:2px solid #fff;
}

.btn-branco:hover{
    background-color:#fff;
    color: #000;
}

/* -- Botões -- */
.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 30px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

/* -- Seção serviços -- */
#servicos{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns{
    padding: 10px 0 10px 0;
}

/* -- Seção recursos -- */
#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.rotacionar{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg); /* IE 9*/
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    padding-left: 80px;
}

/* ========================== Tipografia ========================== */
h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -2px;
}

h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h2, #servicos h3{
    color: #7c25f8;
}

#recursos h3{
    color: #9bf0e1;
}